<!-- <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="login.title">Sign in</h4>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>

<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>

        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                <div class="form-group">
                    <label class="username-label" for="username" jhiTranslate="global.form.username.label">Login</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="{{ 'global.form.username.placeholder' | translate }}"
                           formControlName="username" #username>
                </div>

                <div class="form-group">
                    <label for="password" jhiTranslate="login.form.password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="{{ 'login.form.password.placeholder' | translate }}"
                           formControlName="password">
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
                        <span jhiTranslate="login.form.rememberme">Remember me</span>
                    </label>
                </div>

                <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button">Sign in</button>
            </form>

            <div class="mt-3 alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
            </div>

            <div class="alert alert-warning">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
    </div>
</div> -->
<div class="login-screen-flex">
    <div class="login-screen-col-1">
        <div style="display: inline-flex;">
            <div class="icon-title">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        fill="#000" width="55" height="55" viewBox="0 0 24 24">
                        <path
                            d="M10 5C5.58 5 2 5.5 2 9V19C2 19.85 2.37 20.66 3 21.22V23C3 23.55 3.45 24 4 24H5C5.55 24 6 23.55 6 23V22H14V23C14 23.55 14.45 24 15 24H16C16.55 24 17 23.55 17 23V21.22C17.63 20.66 18 19.85 18 19V9C18 5.5 14.42 5 10 5M5.5 20C4.67 20 4 19.33 4 18.5S4.67 17 5.5 17 7 17.67 7 18.5 6.33 20 5.5 20M14.5 20C13.67 20 13 19.33 13 18.5S13.67 17 14.5 17 16 17.67 16 18.5 15.33 20 14.5 20M16 14H4V9H16V14M22 5V15C22 15.85 21.63 16.66 21 17.22V19C21 19.55 20.55 20 20 20H19.88C19.95 19.68 20 19.35 20 19V9C20 3 13 3 10 3C9.09 3 7.8 3 6.46 3.17C7.55 1.32 10.5 1 14 1C18.42 1 22 1.5 22 5Z" />
                    </svg>
                </span>
            </div>
            <label style="font-size: 40px;
            color: #5D44FB;
            font-weight: 800;
            font-family: Roboto;">Public Transport Management</label>
        </div>
        <div style="height: 60px;"></div>
        <div style="padding-bottom: 20px;">
            <label
                style="margin-left: -166px; font-size: 24px; font-family: Roboto;  font-weight: 500;">Welcome</label>
        </div>
        <form [formGroup]="loginForm">
            <div style="padding-bottom: 20px;">
                <input style="height: 44px; width: 336px; background: #FFFFFF;
                border: 1px solid #DDE0E7;
                box-sizing: border-box;
                border-radius: 4px; font-family: Roboto;" placeholder="Username" name="username" formControlName="username" #username>
            </div>
            <div style="padding-bottom: 20px;">
                <input type="password" style="height: 44px; width: 336px; background: #FFFFFF;
                border: 1px solid #DDE0E7;
                box-sizing: border-box;
                border-radius: 4px; font-family: Roboto;" placeholder="Password" name="password" formControlName="password" #password>
            </div>
            <div style="padding-bottom: 20px;">
                <input type="checkbox">
                <label style="font-size: 16px; font-family: Roboto; font-weight: 600;">Remember me</label>
                <a style="margin-left: 90px;">
                    <span style="font-size: 16px;font-family: Roboto; font-weight: 600;">Forgot Password?</span>
                </a>
            </div>
            <div>
                <button style="height: 44px; width: 336px; background: #6D54FC;
                border-radius: 6px; outline: none; font-weight: bold;" (click)="login()">Sign In</button>
            </div>
        </form>
        <div style="height: 120px;"></div>
    </div>
    <div class="login-screen-col-2" style="background: honeydew; width: calc(100% - 800px); height: 100%;">
    </div>
</div>