<div class="route-list-screen">
    <div class="header-screen">
        <div>
            <label style="font-size: 16px; font-weight: 500; font-family: Roboto;">Route List Management</label>
        </div>
        <div style="width: calc(100% - 351px)"></div>
        <div class="input-search">
            <span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M3.23895 8.76823C3.23895 5.86787 5.59016 3.51666 8.49052 3.51666C11.3909 3.51666 13.7421 5.86787 13.7421 8.76823C13.7421 11.6686 11.3909 14.0198 8.49052 14.0198C5.59016 14.0198 3.23895 11.6686 3.23895 8.76823ZM8.49052 1.94434C4.72179 1.94434 1.66663 4.9995 1.66663 8.76823C1.66663 12.537 4.72179 15.5921 8.49052 15.5921C12.2593 15.5921 15.3144 12.537 15.3144 8.76823C15.3144 4.9995 12.2593 1.94434 8.49052 1.94434ZM15.0842 14.2501C14.7772 13.9431 14.2795 13.9431 13.9724 14.2501C13.6654 14.5571 13.6654 15.0549 13.9724 15.3619L16.9913 18.3807C17.2983 18.6878 17.7961 18.6878 18.1031 18.3807C18.4101 18.0737 18.4101 17.576 18.1031 17.2689L15.0842 14.2501Z"
                        fill="#8C8C8C" />
                </svg>
            </span>
            <input type="text" placeholder="Search...">
        </div>
    </div>
    <div class="body-screen">
        <div class="route-list" [ngStyle]="{'padding-top': isViewBusStop? '8px':'34px'}">
            <div class="link-back" *ngIf="isViewBusStop">
                <a href="javascript:void(0)" (click)="backToRouteList()">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            width="24" height="24" viewBox="3 1 24 24">
                            <path d="M20,9V15H12V19.84L4.16,12L12,4.16V9H20Z" fill="#595959" />
                        </svg>
                    </span>
                    <span class="text-span">Back</span>
                </a>
            </div>
            <div class="table-grid" *ngIf="!isViewBusStop">
                <div class="table-head">
                    <div class="table-row">
                        <div class="table-col w-150">ID</div>
                        <div class="table-col w-100">Route No</div>
                        <div class="table-col w-100">Suffix</div>
                        <div class="table-col">Route Name</div>
                    </div>
                </div>
                <div class="table-body">
                    <div class="table-row" [ngClass]="{'active': routeSelected === route}"
                        *ngFor="let route of routesView" (click)="selectRoute(route)">
                        <div class="table-col w-150">{{route.ID}}</div>
                        <div class="table-col w-100">{{route.routeNo}}</div>
                        <div class="table-col w-100">{{route.suffix}}</div>
                        <div class="table-col">{{route.name}}</div>
                    </div>
                </div>
            </div>
            <div class="table-grid" *ngIf="isViewBusStop">
                <div class="table-head">
                    <div class="table-row">
                        <div class="table-col w-150">ID</div>
                        <div class="table-col w-100">Bus Stop No</div>
                        <div class="table-col w-100">Suffix</div>
                        <div class="table-col">Bus Stop Name</div>
                    </div>
                </div>
                <div class="table-body">
                    <div class="table-row">
                        <div class="table-col w-150"></div>
                        <div class="table-col w-100"></div>
                        <div class="table-col w-100"></div>
                        <div class="table-col"></div>
                    </div>
                </div>
            </div>

            <div class="paging">
            </div>
        </div>
        <div style="width: 2%;"></div>
        <div class="route-list-action">
            <div style="border: 1px solid #dde0e7; border-radius: 6px; height: 35.5%;">
                <div class="title">
                    <label>Actions</label>
                </div>
                <div class="action-list">
                    <div class="action-item">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" width="24" height="24" viewBox="0 1 24 24">
                                <path
                                    d="M10,4L12,6H20A2,2 0 0,1 22,8V18A2,2 0 0,1 20,20H4C2.89,20 2,19.1 2,18V6C2,4.89 2.89,4 4,4H10M15,9V12H12V14H15V17H17V14H20V12H17V9H15Z"
                                    fill="#595959" />
                            </svg>
                        </span>
                        <a href="javascript:void(0)" (click)="createRoute()"><span>Create Route</span></a>
                    </div>
                    <div class="action-item">
                        <span [ngStyle]="{'opacity':routeSelected == undefined ? '0.5' : '1'}">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" width="24" height="24" viewBox="0 1 24 24">
                                <path
                                    d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"
                                    fill="#595959" />
                            </svg>
                        </span>
                        <a href="javascript:void(0)" [ngClass]="{'disabled': routeSelected == undefined}"
                            (click)="editRoute()"><span>Edit Route</span></a>
                    </div>
                    <div class="action-item">
                        <span [ngStyle]="{'opacity':routeSelected == undefined ? '0.5' : '1'}">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" width="24" height="24" viewBox="0 1 24 24">
                                <path
                                    d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"
                                    fill="#595959" />
                            </svg>
                        </span>
                        <a href="javascript:void(0)" [ngClass]="{'disabled': routeSelected == undefined}"
                            (click)="deleteRoute()"><span>Delete Route</span></a>
                    </div>
                    <div class="action-item">
                        <span [ngStyle]="{'opacity':routeSelected == undefined ? '0.5' : '1'}">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M18,11H6V6H18M16.5,17A1.5,1.5 0 0,1 15,15.5A1.5,1.5 0 0,1 16.5,14A1.5,1.5 0 0,1 18,15.5A1.5,1.5 0 0,1 16.5,17M7.5,17A1.5,1.5 0 0,1 6,15.5A1.5,1.5 0 0,1 7.5,14A1.5,1.5 0 0,1 9,15.5A1.5,1.5 0 0,1 7.5,17M4,16C4,16.88 4.39,17.67 5,18.22V20A1,1 0 0,0 6,21H7A1,1 0 0,0 8,20V19H16V20A1,1 0 0,0 17,21H18A1,1 0 0,0 19,20V18.22C19.61,17.67 20,16.88 20,16V6C20,2.5 16.42,2 12,2C7.58,2 4,2.5 4,6V16Z"
                                    fill="#595959" />
                            </svg>
                        </span>
                        <a href="javascript:void(0)" [ngClass]="{'disabled': routeSelected == undefined}"
                            (click)="viewBusStopOfRoute()"><span>View Bus Stop of
                                Route</span></a>
                    </div>
                </div>
            </div>
            <div style="height: 2%;"></div>
            <div style="border: 1px solid #dde0e7; border-radius: 6px; height: 62.5%;">
                <div class="title">Detail Selected Route</div>
            </div>
        </div>
    </div>
</div>