::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

.modal-dialog {
  width: 400px;
  margin: auto;
}

.modal-header h4 {
  font-weight: bold;
}

.modal-header a {
  padding-left: 238px;
}

.btn-primary:focus {
  outline: none;
}

.label-confirm {
  width: 370px;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.form-group label {
  font-weight: 500;
}
