$background-color-header: #5d44fb;
$color-text-small: #8c8c8c;
$color-text-normal: #595959;
$color-border: #dde0e7;
$color-main: #ece8ff;
$color-button: #6d54fc;

button {
  background: #c8c8c8;
  color: #fff;
  padding: 10px;
  outline: none;
  border: none;
}

label {
  margin: 0;
}

a {
  text-decoration: none !important;
}

a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.w-50 {
  width: 50px !important;
}

.w-100 {
  width: 100px !important;
}

.w-150 {
  width: 150px !important;
}

.w-200 {
  width: 200px !important;
}

.w-250 {
  width: 250px !important;
}

.w-300 {
  width: 300px !important;
}

.main-layout {
  background: #fff;
  height: 937px;
}

.input-search {
  height: 24px;
  width: 180px;
  position: relative;
}

.input-search span {
  position: absolute;
  position: absolute;
  right: 4%;
  bottom: 10%;
}

.nav-bar {
  background: #fafbfc;
  width: 96px;
}

.nav-bar li a {
  display: block;
  color: #000;
  padding: 30px 30px;
  opacity: 0.2;
}

.nav-bar li a:hover {
  opacity: 0.5;
  background: aliceblue;
  border-left: 5px solid #6d54fc;
}

.nav-bar li a.actived {
  opacity: 1;
  border-left: 5px solid #6d54fc;
}

.tooltip {
  display: inline-block;
  opacity: inherit;
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  left: 100%;
  top: 35%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.header {
  display: flex;
  background: $background-color-header;
  height: 56px;
  padding: 8px;
}

.title {
  justify-content: center;
  align-content: center;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.icon-title {
  padding-right: 30px;
}

.setting {
  position: absolute;
  right: 3.5%;
  top: 16px;
}

.logout {
  position: absolute;
  right: 1%;
  top: 14px;
}

.login-screen-flex {
  background: #fff;
  display: flex;
  height: 937px;
}

.login-screen-col-1 {
  width: 800px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.login-screen-col-2 {
  background: #f0f0f0;
  width: calc(100% - 800px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-dynamic {
}

.modal {
  overflow: initial;
}

.show {
  display: block;
}

.modal-header {
  // background: #a1cdff;
  background: #fff;
  border-radius: 6px 6px 0 0;
}

.modal-header h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #262626;
}

.modal-dialog-centered {
  min-height: calc(100% - (1.75rem * 2));
  display: flex;
  align-items: center;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e8eaef;
  box-sizing: border-box;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  font-family: Roboto;
}

.modal-header a {
  padding-left: 244px;
}

.modal-body,
.modal-footer {
  padding: 15px;
}

.form-group label {
  color: #c8c8c8;
  line-height: 29px;
  padding-right: 0;
}

.form-group input {
  border: none;
  border-bottom: 1px solid #afafaf;
  box-shadow: initial;
}

.form-group .form-control:focus {
  -webkit-box-shadow: initial;
  box-shadow: initial;
}

.modal-content .form-group label {
  color: #262626;
  font-weight: bold;
}

.modal-content .modal-body {
  padding-bottom: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #262626;
}

.modal-content .input-item {
  margin-left: 80px;
}

.modal-content .modal-footer {
  margin-top: 0;
  border: none;
  padding-top: 0;
}

.modal-footer .link-forget {
  margin-bottom: 25px;
}

.modal-footer .link-forget a {
  color: #262626;
  font-size: 9px;
}

.btn.btn-save {
  width: 128px;
  height: 36px;
  background: $color-button;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
}

.btn.btn-close {
  width: 128px;
  height: 36px;
  background: #bfbfbf;
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  border-radius: 6px;
}

.btn:hover {
  filter: brightness(90%);
}

// Table
.table-grid {
  display: table;
  width: 100%;
  font-family: Roboto;
  position: relative;
  font-size: 14px;
  font-style: normal;
}

.table-head {
  background-color: #fff;
  display: table-header-group;
  color: $color-text-normal;
  font-weight: 500;
}

.table-body {
  display: table-row-group;
  background: #fff;
  font-weight: normal;
}

.table-row {
  display: table-row;
}

.table-head .table-col {
  background: #f1f3f5;
  position: sticky;
  top: 0;
  z-index: 99;
}

.table-col {
  display: table-cell;
  padding: 6px 8px;
  white-space: nowrap;
  border-bottom: 1px solid #e8eaff;
}

.table-col:last-child {
  border-right: none;
}

.table-grid .table-body .table-row:hover {
  background: #e6f1d8;
}

.table-grid .table-body .table-row.active {
  background: #afd788;
}
